<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Partial/header.css" />
    <link rel="stylesheet" href="../stylesheets/cart.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <% include ../views/Partial/loader.ejs %>

    <div id="main">
      <div class="left">
        <a style="cursor: pointer" href="/">
          <i class="ri-arrow-left-s-line"></i> Back to Homepage</a
        >
        <h1 class="txtanim">Shopping Cart</h1>
        <div class="box">
          <div class="ctrg txtanim">
            <h4 id="t">Item</h4>
            <div class="side">
              <div class="sec">
                <h4>Size</h4>
              </div>

              <div class="sec">
                <h4>Qty</h4>
              </div>
              <div class="sec">
                <h4>Price</h4>
              </div>
            </div>
          </div>
          <div class="item">
            <% if(user.cart.length>0){%> <% user.cart.forEach(e => {%>

            <div class="itm txtanim">
              <a id="delete" href="/cart/delete/<%=e._id%>"
                ><div><i style="cursor: pointer" class="ri-close-line"></i></div
              ></a>
              <div class="lside">
                <img src="<%= e.product.prdctImg[0] %> " alt="" />
                <h2 class="pname"><%= e.product.prdctName %></h2>
              </div>
              <div class="side">
                <div class="sec">
                  <h4><%= e.size %></h4>
                </div>

                <div class="sec">
                  <a href="/cart/dec/<%= e._id %>"
                    ><i class="ri-indeterminate-circle-line"></i
                  ></a>
                  <h3><%= e.quantity %></h3>
                  <a href="/cart/inc/<%= e._id %>">
                    <i class="ri-add-circle-line"></i
                  ></a>
                </div>
                <div class="sec">₹<%= e.Amt*e.quantity %></div>
              </div>
            </div>

            <% }); %> <%}else{%>
            <h1 id="empty">Cart is Empty</h1>
            <%} %>
          </div>
        </div>

        <div></div>
      </div>
      <div class="right">
        <h1 class="txtanim2">Summary</h1>
        <div class="calc">
          <div class="cats txtanim2">
            <h2>Subtotal</h2>
            <% if(user.cart.length>0){%>
            <h2>₹<%= subtotal %></h2>
            <%}else{%>
            <h2>₹0</h2>
            <%} %>
          </div>
          <div class="cats txtanim2">
            <h2>Delivery</h2>

            <% if(user.cart.length>0){%>
            <h2>₹50.00</h2>
            <%}else{%>
            <h2>₹0</h2>
            <%} %>
          </div>
          <div class="cats txtanim2">
            <h2>Tax</h2>

            <% if(user.cart.length>0){%>
            <h2>₹14.99</h2>
            <%}else{%>
            <h2>₹0</h2>
            <%} %>
          </div>
          <div style="flex-direction: column" class="cats txtanim2">
            <h2
              id="couponmsg"
              onclick="couponshow()"
              style="
                color: red;
                cursor: pointer;
                text-decoration: underline !important;
                margin-top: 1vmax;
                margin-bottom: 0.5vmax;
                font-size: 1.3vmax;
              "
            >
              Having a Coupon Code?
            </h2>

            <div
              id="coupon"
              style="
                width: 100%;
                height: 4vmax;
                background: #000;
                display: none;
              "
            >
              <input
                id="couponcode"
                style="
                  width: 100%;
                  cursor: text;
                  border: 1px solid rgba(126, 126, 126, 0.345);
                  text-transform: uppercase;
                  font-size: 2vh;
                  padding-left: 1vmax;
                "
                type="text"
                placeholder="Enter Coupon Code"
              />
              <button
                type="button"
                onclick="codeCheck()"
                style="
                  width: 8vmax;
                  border: 1px solid rgba(126, 126, 126, 0.345);
                  cursor: pointer;
                "
              >
                Apply
              </button>
            </div>
          </div>
        </div>
        <div class="total">
          <div class="cats txtanim2">
            <h2>Total</h2>

            <% if(user.cart.length>0){%>
            <h2>₹ <span id="tlamt"><%=subtotal+65-0.01 %></span></h2>
            <%}else{%>
            <h2>₹0</h2>
            <%} %>
          </div>
          <form action="/checkout" method="GEt">
            <% if(user.cart.length>0){%>
            <button class="txtanim2">Checkout</button>
            <%}else{%>
            <button style="background-color: grey" class="txtanim2" disabled>
              Checkout
            </button>
            <%} %>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script>
      const couponshow = () => {
        const coupon = document.getElementById("coupon");
        if (coupon.style.display === "flex") {
          coupon.style.display = "none";
          console.log("a");
        } else {
          console.log("b");
          coupon.style.display = "flex";
        }
      };
      const codeCheck = () => {
        const couponcode = document
          .getElementById("couponcode")
          .value.toUpperCase();
        console.log(couponcode);
        if (couponcode === "FUCK69") {
          couponcode.value = "";
          couponshow();
          const tlamt = document.getElementById("tlamt");
          tlamt.textContent -= 69;
          const couponmsg = document.getElementById("couponmsg");
          couponmsg.textContent = `${couponcode} Coupon Applied !`;
          couponmsg.style.color = "green";
        }
      };
    </script>
    <script>
      gsap.from(".txtanim", {
        stagger: 0.2,
        duration: 0.4,
        y: 100,
        opacity: 0,
      });
      gsap.from(".txtanim2", {
        stagger: 0.2,
        duration: 0.4,
        x: 100,
        opacity: 0,
      });

      if (window.innerWidth < 768) {
        document.querySelectorAll(".itm").forEach((e) => {
          e.innerHTML = `
      
      <a id="delete" href=""><div ><i class="ri-close-line"></i></div></a>
      <div class="lside">
        
                <img src="https://tokyoarkade.com/wp-content/uploads/2021/12/3-850x850.jpg" alt="" />
                </div>
  
                <div class="side">
                  <h2 class="pname" >Sweat Shirt</h2>  
                  <div class="sidesec">
                <div class="sec">
                  <h4>Size</h4><select><option>S</option><option>M</option><option>L</option></select>
                </div>
                <div class="sec">
                  <h4>Delivery</h4><h4>1 Days</h4>
                </div>
                
                
              </div>
              <div class="sidesec">
                <div class="sec">
                  
                  <h4>Qty</h4>
                  <div class="qty" >
                  <a href="/cart/dec/"
                    ><i class="ri-indeterminate-circle-line"></i
                  ></a>
                  <h3>1</h3>
                  <a href="/cart/inc/">
                    <i class="ri-add-circle-line"></i
                  ></a>
                </div>
                </div>
                <div class="sec">
                  <h4>Price</h4>
                  
                  ₹45</div> 
              </div>
              </div>`;
        });
      }
    </script>
  </body>
</html>
