<% include ../views/Partial/header.ejs %>
<link rel="stylesheet" href="../stylesheets/Partial/nav.css" />
<link rel="stylesheet" href="../stylesheets/Partial/links.css" />
<link rel="stylesheet" href="../stylesheets/Partial/header.css" />
<link rel="stylesheet" href="../stylesheets/style.css" />
<body>
  <% include ../views/Partial/loader.ejs %> <% include
  ../views/Partial/search.ejs %>
  <div id="main">
    <% include ../views/Partial/nav.ejs %>

    <div id="first">
      <a href="/store">
        <div class="cntr">
          <img
            src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671861514/default/20221216_002831_0000_wnykv0.webp"
            alt=""
          />
        </div>

      </a>
      <a href="/oversize">
        <div class="cntr">
          <img
            src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671861499/default/20221215_154401_0001_sa5vle.webp"
            alt=""
          />
        </div>

      </a>
      <a href="/sweatshirt">
        <div class="cntr">
          <img
            src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671861509/default/20221215_154401_0004_1_p6kj5u.webp"
            alt=""
          />
        </div>

      </a>
      <a href="/thrifted">
        <div class="cntr">
          <img
            src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671860436/default/20221215_154401_0002_whuq4j.webp"
            alt=""
          />
        </div>

      </a>
      <a href="/limitededition">
        <div class="cntr">
          <img
            src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671861506/default/20221215_154401_0003_fheil1.webp"
            alt=""
          />
        </div>

      </a>
    </div>
    <div id="second">
      <% product.forEach(e => {%>
        <div class="item">
          <div class="img">
            <div
              onclick="wishlist(this)"
              data-user="<%=user%>"
              data-id="<%=e._id%>"
              id="heart"
            >
              <% if(user){ %>
                <% if(user.wishlist.includes(e._id)){%>
                  <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4VYPxJ.json" background="transparent" speed="1" autoplay ></lottie-player>
                <%} else if (!user.wishlist.includes(e._id)) {%>
                      <i class="ri-heart-line"></i>
                <%}%>
              <%}else{%>
                      <i class="ri-heart-line"></i>
                <%}%>
            
            </div>
            <a target="_blank" href="/product/<%=e._id%>">
              <img class="scnd" src="<%=e.prdctImg[0].secure_url%>" alt="<%=e.prdctImg[0].public_id%>" />

              <img  src="<%=e.prdctImg[1].secure_url%>" alt="<%=e.prdctImg[1].public_id%>" />
            </a>
          </div>
          <div class="dets">
            
  
  
  
            <h2 style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" ><%=e.prdctName%></h2>
            <h4 class="show">₹ <%=e.prdctPrice%></h4>
          </div>
        </div>


      <% }); %>
    </div>
    <div id="third">
      <div class="left">
        <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671862102/default/Picsart_22-12-12_17-30-10-060_fo9md9.webp"
          alt=""
        />
        <!-- <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671124201/default/Picsart_22-12-12_14-16-59-654_m61mga.jpg"
          alt=""
        /> -->
      </div>
      <div class="right">
        <div class="yexy">
          <h1>Minimal Design</h1>
          <h2>Big Ideas</h2>
          <h4>
            Timeless and modern designs,this is our target,searching that
            illustration than never back off,simple and modern modern designs
          </h4>
          <a href="/store"><button class="buynow">Buy Now</button></a>
        </div>
      </div>
    </div>

    <div id="konhaiham">
      <h1>
        Who We Are? <br />
        <div>
          An organic clothing brand that combines the world of anime & gaming
          with a retro style & minimalist.
        </div>
      </h1>
      <h5>
        Part of our collection is made with 100% stronger, softer & smoother
        organic ring spun cotton. <br />
        <div>
          The other collection is made handcrafted with a precision cut and hand
          sewn.
        </div>
        <a id="playvid"
          ><h1>Play Video</h1>
          <span>
            <lottie-player
              id="icon"
              src="https://assets2.lottiefiles.com/packages/lf20_9abbz8gz.json"
              background="transparent"
              speed="1"
              hover
            ></lottie-player>
          </span>
        </a>
      </h5>
    </div>
    <div id="third">
      <div class="right">
        <div class="yexy">
          <h1>HandDrawn Designs</h1>
          <h2>Big Ideas</h2>
          <h4>
            Timeless and modern designs,this is our target,searching that
            illustration than never back off,simple and modern designs
          </h4>
          <a href="/store"><button class="buynow">Buy Now</button></a>
        </div>
      </div>
      <div id="aadhabanda" class="left">
        <img
          src="https://res.cloudinary.com/bonzaonstreet/image/upload/v1671861526/default/Picsart_22-12-12_14-22-33-988_lqosju.webp"
          alt=""
        />
      </div>
    </div>

    <% include ../views/Partial/links.ejs %>
  </div>
  <script src="../javascripts/nav.js"></script>
  <script>
    const cntr = document.querySelectorAll(".cntr");
    const first = document.querySelector("#first");
    let current = 0;
    const count = cntr.length;
    setInterval(() => {
      current++;

      if (current >= count) {
        first.scrollTo(0, 0);
        current = 0;
      } else {
        first.scrollBy(screen.width, 0);
      }
    }, 2000);
  </script>
  <script>
    let flag = 0;
    document.querySelectorAll("#heart").forEach((all) => {
      all.addEventListener("click", () => {
        if (flag === 0) {
          all.innerHTML = `<lottie-player  src="https://assets6.lottiefiles.com/packages/lf20_4VYPxJ.json"  background="transparent"  speed="1" autoplay></lottie-player>`;
          flag = 1;
        } else {
          all.innerHTML = `<i class="ri-heart-3-line dil"></i>`;
          flag = 0;
        }
      });
    });
    var scnd = document.querySelectorAll(".scnd");
    var show = document.querySelectorAll(".show");
    var txt = [];
    document.querySelectorAll(".item").forEach((all, i) => {
      txt.push(show[i].textContent);

      all.addEventListener("mouseover", (e) => {
        scnd[i].style.opacity = 1;
        show[i].textContent = "Show More";
      });
      all.addEventListener("mouseout", (e) => {
        scnd[i].style.opacity = 0;
        show[i].textContent = txt[i];
      });
    });
    document.querySelector("#icon").addEventListener("click", () => {
      document.querySelector("#konhaiham").innerHTML += `<div id="thevideo">
          <i id="close" onclick="gayab()" class="ri-close-circle-fill"></i>
          
          <iframe id="video" src="https://www.youtube.com/embed/RQTgJRwMdKQ?enablejsapi=1&html5=1&rel=0&amp;autoplay=1""  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
        </div>`;
    });
    function gayab() {
      const r = document.querySelector("#thevideo");
      r.remove();
    }
  </script>
  <% include ../views/Partial/footer.ejs %>
</body>
