<% include ../views/Partial/header.ejs %>

<link rel="stylesheet" href="../stylesheets/Partial/nav.css" />
<link rel="stylesheet" href="../stylesheets/Partial/links.css" />
<link rel="stylesheet" href="../stylesheets/cart.css" />
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../stylesheets/Partial/header.css" />
<style>
  .left{
    width: 100%;
  }
</style>
<body>
  <% include ../views/Partial/loader.ejs %> 
  <% include ../views/Partial/search.ejs %>
   <div id="main">
    <div class="left">
      <a style="cursor: pointer" href="/">
        <i class="ri-arrow-left-s-line"></i> Back to Homepage</a
      >
      <h1 class="txtanim">My Orders</h1>
      <div class="box">
        <div class="ctrg txtanim">
          <h4 id="t">Item</h4>
          <div class="side">
            <div class="sec">
              <h4>Size</h4>
            </div>

            <div class="sec">
              <h4>Qty</h4>
            </div>
            <div class="sec">
              <h4>Price</h4>
            </div>
            <div class="sec">
              <h4>Status</h4>
            </div>
            <div class="sec">
              <h4>Payment</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <% if(Myorder){%> <% Myorder.forEach(lo => {%>
            <div style="background-color: rgba(161, 161, 161, 0.152); margin-top: 1vmax;"  id="containn">

         
            <% lo.items.forEach((e)=>{ %>
            
          <div class="itm txtanim">
           
            <div class="lside">
          
              <a  href="/product/<%= e.product._id %>"><img style="cursor: pointer;" src="<%= e.product.prdctImg[0].secure_url %>" alt="<%= e.product.prdctImg[0].public_id %>" /></a>
              <h2 class="pname"><%= e.product.prdctName %></h2>
            </div>
            <div class="side">
              <div class="sec">
                <h4><%= e.size %></h4>
              </div>

              <div class="sec">
                
                <h3 style="font-weight: 500;" ><%= e.quantity %></h3>
                
              </div>
              <div class="sec">₹<%= e.Amt %></div>
              <div class="sec"><%= lo.status %></div>
              <div class="sec"><%= lo.payment.typy  %> </div>
            </div>
            <h5 style="position: absolute; left: 10%; bottom: 1%;" >OrderID  :  <%= lo.orderID  %></h5>
            <% if(lo.payment.typy == 'Online'){ %>
             <h5 style="position: absolute; left: 40%; bottom: 1%;" > PaymentID  :  <%=lo.payment.PaymentID %> </h5>
             <% } %>
          </div>
          
          <% }); %>
        </div>

          <% }); %>
          
          <%}else{%>
          <h1 id="empty">You Haven't Ordered Anything <span style="opacity: .7;" > 🥺</span></h1>
          <%} %>
        </div>
      </div>

      <div>

    </div>
    </div>
   
  </div>
  
  <% include ../views/Partial/footer.ejs %>

  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>

  <script src="../javascripts/nav.js"></script>

  <script></script>
</body>
