<% include ../views/Partial/header.ejs %>

<link rel="stylesheet" href="../stylesheets/Partial/nav.css" />
<link rel="stylesheet" href="../stylesheets/Partial/links.css" />
<link rel="stylesheet" href="../stylesheets/cart.css" />
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../stylesheets/Partial/header.css" />
<style>
  .left{
    width: 100%;
  }
</style>
<body>
  <% include ../views/Partial/loader.ejs %> 
  <% include ../views/Partial/search.ejs %>
   <div id="main">
    <div class="left">
      <a style="cursor: pointer" href="/">
        <i class="ri-arrow-left-s-line"></i> Back to Homepage</a
      >
      <h1 class="txtanim">My Orders</h1>
      <div class="box">
        <div class="ctrg txtanim">
          <h4 id="t">Item</h4>
          <div class="side">
            <div class="sec">
              <h4>Size</h4>
            </div>

            <div class="sec">
              <h4>Qty</h4>
            </div>
            <div class="sec">
              <h4>Price</h4>
            </div>
            <div class="sec">
              <h4>Status</h4>
            </div>
            <div class="sec">
              <h4>Payment</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <%=Myorder %> -->
          <% if(Myorder.length>0){%> <% Myorder.forEach(e => {%>

          <div class="itm txtanim">
            <a id="delete" href="/cart/delete/<%=e._id%>"
              ><div><i style="cursor: pointer" class="ri-close-line"></i></div
            ></a>
            <div class="lside">
              <!-- <img src="<%= e.items.prdctImg[0] %> " alt="" /> -->
              <!-- <h2 class="pname"><%= e.items.prdctName %></h2> -->
            </div>
            <div class="side">
              <div class="sec">
                <h4><%= e.size %></h4>
              </div>

              <div class="sec">
                <a href="/cart/dec/<%= e._id %>"
                  ><i class="ri-indeterminate-circle-line"></i
                ></a>
                <h3><%= e.quantity %></h3>
                <a href="/cart/inc/<%= e._id %>">
                  <i class="ri-add-circle-line"></i
                ></a>
              </div>
              <div class="sec">₹<%= e.amount %></div>
              <div class="sec"><%= e.status %></div>
              <div class="sec"><%= payment.type  %> </div>
            </div>
          </div>

          <% }); %> <%}else{%>
          <h1 id="empty">You Haven't Ordered Anything <span style="opacity: .7;" > 🥺</span></h1>
          <%} %>
        </div>
      </div>

      <div></div>
    </div>
   
  </div>
  
  <% include ../views/Partial/footer.ejs %>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>

  <script src="../javascripts/nav.js"></script>

  <script></script>
</body>
